<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Buttons - Puppertino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="res/puppertino.css">
  <link rel="stylesheet" href="res/doc.css">
</head>
<body class="p-layout">
  <h1>Buttons</h1>

  <!-- Push Buttons -->
  <div class="d-flex align-baseline">
    <button class="p-btn">Default</button>
    <button class="p-btn p-btn-destructive">Destructive</button>
    <button class="p-btn" disabled="">Disabled</button>
    <a href="#" class="p-btn p-prim-col">Primary</a>
    <a href="#" class="p-btn p-btn-mob">Btn mob</a>
    <a href="#" class="p-btn p-btn-round p-orange p-white-color">Rounded</a>
    <a href="#" class="p-btn p-btn-outline">Outline</a>
    <a href="#" class="p-btn p-btn-outline-dash">Outline dashed</a>
    <a href="#" class="p-btn p-btn-more">Custom action</a>
  </div>

  <!-- Button Colors -->
  <div style="margin-top:30px">
    <button class="p-btn p-prim-col p-grape p-white-color">Primary Purple</button>
    <button class="p-btn p-lime p-white-color">Success</button>
    <button class="p-btn p-prim-col p-orange p-white-color">Danger</button>
    <button class="p-btn p-prim-col p-strawberry p-white-color">Error</button>
  </div>

  <!-- Button Sizing -->
  <div style="margin-top:30px">
    <a href="#" class="p-btn p-btn-mob p-btn-sm">Small size</a>
    <a href="#" class="p-btn p-btn-mob p-btn-md">Medium size</a>
    <a href="#" class="p-btn p-btn-mob p-btn-lg">Large size</a>
    <a href="#" class="p-btn p-btn-mob p-btn-block">Block size</a>
  </div>

  <!-- Icon Buttons -->
  <div style="margin-top:30px">
    <a href="#" class="p-btn-icon" aria-label="Help Button">?</a>
    <a href="#" class="p-btn-icon p-lime-color" aria-label="Dog Button">&#x1f436;</a>
    <a href="#" class="p-btn-icon p-bubblegum-color" aria-label="Like button">
      <svg viewBox="0 0 24 24" width="13" height="13" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
    </a>
    <a href="#" class="p-btn-icon p-strawberry-color" aria-label="Delete button">
      <svg viewBox="0 0 24 24" width="13" height="13" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
    </a>
    <a href="#" class="p-btn-icon p-orange p-silver-100-color p-btn-icon-no-border" aria-label="Delete User Button">
      <svg viewBox="0 0 24 24" width="13" height="13" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="23" y1="11" x2="17" y2="11"></line></svg>
    </a>
    <a href="#" class="p-btn-icon p-mint p-silver-100-color" aria-label="Bold Text Button">
      <svg viewBox="0 0 24 24" width="13" height="13" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M6 4h8a4 4 0 0 1 4 4 4 4 0 0 1-4 4H6z"></path><path d="M6 12h9a4 4 0 0 1 4 4 4 4 0 0 1-4 4H6z"></path></svg>
    </a>
  </div>

  <!-- Scope Buttons -->
  <div style="margin-top:30px">
    <a href="#" class="p-btn p-btn-scope">Default/Active</a>
    <a href="#" class="p-btn p-btn-scope p-btn-scope-unactive">Unactive</a>
    <a href="#" class="p-btn p-btn-scope p-btn-disabled" disabled="true" tabindex="-1">Disabled</a>
    <a href="#" class="p-btn p-btn-scope p-btn-scope-outline">Action</a>
    <a href="#" class="p-btn p-btn-scope p-btn-scope-outline p-btn-outline-dash">Action</a>
  </div>
</body>
</html>
