<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Icons - Puppertino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="res/puppertino.css">
  <link rel="stylesheet" href="res/doc.css">
  <style>
    .row { display:flex; flex-wrap:wrap; gap:20px; }
    .col { flex:0 0 auto; width:300px; }
  </style>
</head>
<body class="p-layout">
  <h1>Icons</h1>

  <div class="row" style="margin-top:30px">
    <div class="col">
      <a href="https://feathericons.com/" class="p-card" target="_blank">
        <div class="p-card-content">
          <h3 class="p-card-title">Feather Icons</h3>
          <p class="p-card-text">Feather Icons is a really amazing and customizable library.</p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="https://simplelineicons.github.io/" class="p-card" target="_blank">
        <div class="p-card-content">
          <h3 class="p-card-title">Simple Line Icons</h3>
          <p class="p-card-text">Simple Line Icons is a short and beautiful collection of icons.</p>
        </div>
      </a>
    </div>
  </div>
</body>
</html>
