<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Layout - Puppertino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="res/puppertino.css">
  <link rel="stylesheet" href="res/doc.css">
</head>
<body class="p-layout">
  <h1>Layout</h1>

  <!-- Font Showcase -->
  <div style="margin-top:30px">
    <h1 class="p-large-title">Aa<br>Inter</h1>
  </div>

  <!-- Standard Sizes -->
  <div style="margin-top:30px">
    <h2>Typography</h2>
    <h1>Title 1 (h1)</h1>
    <h2>Title 2 (h2)</h2>
    <h3>Title 3 (h3)</h3>
    <p>Content (p)</p>
  </div>

  <!-- Other Classes -->
  <div style="margin-top:30px">
    <h2>Other Classes</h2>
    <h1 class="p-large-title">Large Title (p-large-title)</h1>
    <h3 class="p-headline">Title 3 (p-headline)</h3>
    <p class="p-callout">Callout (p-callout)</p>
    <p class="p-subhead">Subhead (p-subhead)</p>
    <p class="p-footnote">Footnote (p-footnote)</p>
    <p class="p-caption">Caption (p-caption)</p>
  </div>
</body>
</html>
