<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Modals - Puppertino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="res/puppertino.css">
  <link rel="stylesheet" href="res/doc.css">
</head>
<body class="p-layout">
  <h1>Modals</h1>

  <!-- Modal Containers -->
  <div class="p-modal-background">
    <div class="p-modal" id="normal-modal" data-p-close-on-outside="true">
      <h2>Hello!</h2>
      <p>This modal has 3 buttons, please don't add more than 3 :)</p>
      <div class="p-modal-button-container">
        <a href="#"><strong>Confirm</strong></a>
        <a href="#">Settings</a>
        <button data-p-cancel>Cancel</button>
      </div>
    </div>

    <div class="p-modal" id="two-button-modal" data-p-close-on-outside="true">
      <h2>Alert!</h2>
      <p>This modal has 2 buttons!</p>
      <div class="p-modal-button-container">
        <a href="#" data-p-cancel>OK</a>
        <a href="#" data-p-cancel>Cancel</a>
      </div>
    </div>

    <div class="p-modal" id="one-button-modal">
      <h2>Alert!</h2>
      <p>Hope you are having an amazing day :)</p>
      <div class="p-modal-button-container">
        <a href="#" data-p-cancel>OK</a>
      </div>
    </div>
  </div>

  <!-- Trigger Buttons -->
  <div style="margin-top:30px">
    <button data-p-open-modal="#normal-modal" class="p-btn">Three button modal</button>
    <button data-p-open-modal="#two-button-modal" class="p-btn">Two button modal</button>
    <button data-p-open-modal="#one-button-modal" class="p-btn">One button modal</button>
  </div>

  <script src="res/modals.js"></script>
</body>
</html>
