<html>
<head>
  <meta charset="UTF-8">
  <title>Html Entities Test</title>
</head>
<body>
    <h1>HTML Entities Test</h1>
    <p>Here are some HTML entities to test rendering:</p>
    <ul>
        <li>Less than: &lt;</li>
        <li>Greater than: &gt;</li>
        <li>Ampersand: &amp;</li>
        <li>Double Quote: &quot;</li>
        <li>Single Quote: &apos;</li>
        <li>Non-breaking space: &nbsp;</li>
        <li>Copyright: &copy;</li>
        <li>Registered: &reg;</li>
        <li>Euro: &euro;</li>
        <li>Trademark: &trade;</li>
    </ul>
</body>
</html>