<!doctype html>
<style>
  body { margin: 0; font: 16px/27.2px Arial; }
  ul { position: relative; height: 428px; margin: 0; padding: 0; list-style: none; }
  li { position: absolute; left: 0; top: 0; width: 285px; overflow: hidden; }
  img { width: 285px; vertical-align: middle; }
  .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
</style>
<ul><li><a><img src="../web-tmpl/line-free-app-landing-page-responsive-web-template/images/work/1.jpg">
  <div class="overlay"></div></a></li></ul>
