<html><body style="margin:0">
<div style="width:120px"><li>alpha beta gamma delta</li></div>
<table cellspacing="0" cellpadding="0"><tr><td style="width:120px"><li>alpha beta gamma delta</li></td></tr></table>
<ul style="margin:0; padding-left:40px; width:120px"><li>alpha beta gamma delta</li></ul>
<div style="width:120px; padding-left:40px"><li>alpha beta gamma delta</li></div>
<li style="margin-left:30px; width:120px">alpha beta gamma delta</li>
<div style="width:120px"><li style="list-style:none">alpha beta gamma delta</li></div>
</body></html>
