<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
  * { margin: 0; padding: 0; }
  html, body { width: 100px; height: 100px; overflow: hidden; }
  body { background: white; }
  img { display: block; }
</style>
</head>
<body>
  <!-- Different sizes from same SVG source -->
  <img src="res/gradient_circle.svg" width="25" height="25" style="margin: 3px 0 0 5px; float: left"/>
  <img src="res/gradient_circle.svg" width="40" height="40" style="margin: 3px 0 0 5px; float: left"/>
  <img src="res/icon_card.svg" width="80" height="40" style="clear: both; margin: 5px auto; display: block"/>
</body>
</html>
